name: cd

on:
  push:
    branches: [main]

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest
    
        steps:
        - name: Check out code
          uses: actions/checkout@v4

        - name: Set up Node
          uses: actions/setup-node@v4
          with:
            node-version: "23.6.0"

        - name: Install dependencies
          run: npm ci --legacy-peer-deps

        - name: Build project
          run: npm run build

        - name: Deploy to Production
          run: echo "Deploying to production..." # Replace with actual deployment commands