name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "23.6.0"

      - name: Install dependencies
        run: npm ci --legacy-peer-deps
      - name: Run tests
        run: npm run test

  format:
    name: Format Check
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "23.6.0"

      - name: Install dependencies
        run: npm ci --legacy-peer-deps
      - name: Run tests
        run: npm run format:check
